@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-container {
    display: flex;
    flex-direction: column;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #f0f0f0;
    align-items: stretch;
  }

  .sub-contact-info1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-contact-info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-contact-info{
    display: flex;
    flex-direction: row;
  }
  
  .contact-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  /* Add more styling as needed */
  